<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>글쓰기 페이지 입니다.</h2>

        <form method="post" action="/boards/write" enctype="application/x-www-form-urlencoded">
            <ul>
                <li>작성자 : <input type="text" name="writer2" id="writer1" /></li>
                <li>제목 : <input type="text" name="subject2" id="subject1" /></li>
                <li>
                    <textarea name="content1" id="content2"></textarea>
                </li>
            </ul>
            <button type="submit">글쓰기</button>
        </form>
        <!-- <button>글쓰기</button> -->
    </body>
</html>
