<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h2>글쓰기 페이지</h2>
        <form method="post" action="/boards/write">
            <input type="text" name="title" /><br />
            <input type="text" name="writer" /><br />
            <textarea name="content"></textarea><br />
            <button type="submit">글쓰기</button><br />
        </form>
    </body>
</html>
