<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="/js/login.js"></script>
        <link href="/css/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <form>
            <input type="text" name="userid" />
            <input type="password" name="userpw" />
            <button type="submit">로그인</button>
        </form>
    </body>
</html>
