<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>회원가입</title>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script type="text/javascript" src="/js/signup.js"></script>
        <link href="/css/index.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <h2>회원가입</h2>
        <form id="frm">
            <ul>
                <li><input type="text" name="userid" /></li>
                <li><input type="password" name="userpw" /></li>
                <li><input type="text" name="username" /></li>
            </ul>
            <button type="submit">회원가입</button>
        </form>
    </body>
</html>
