.comment {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 30px;
    width: 600px;
    margin: 0 auto;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90px;
}

.commentFrm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment-form > h4 {
    font-size: 22px;
}

.ps_box {
    width: 80%;
    border: solid 1px #dadada;
    padding: 10px 14px;
    box-sizing: border-box;
}

.ps_box > input {
    display: inline-block;
    border: none;
    outline: none;
    height: 100%;
    width: 80%;
}

.btn {
    width: 18%;
    padding: 18px 0 16px;
    background: #333;
    border: none;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.comment-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}

.comment-row > li:nth-child(2) {
    flex-shrink: 0;
    flex-grow: 1;
    padding-left: 25px;
    cursor: pointer;
}

.comment-update-input {
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
    font-size: 16px;
    padding: 3px 7px;
    color: #333;
    box-sizing: border-box;
}
