html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
/* css reset 종료 */

.body-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
.view-wrapper {
  width: 66%;
  margin: auto;
}

/* 테두리 선 */
.board-title,
.board-content,
.comment-write,
.comment-list {
  border: 1px solid #ccc; /* 두께, 스타일, 색상 */
  border-radius: 5px; /* 모서리 둥글기 */
  margin-bottom: 20px; /* 각 섹션 사이의 여백 */
  padding: 15px; /* 테두리와 내용 사이의 여백 */
}

/* board */
.board-view {
  width: 100%;
}
.board-title {
  width: 100%;
  height: 5rem;
  background-color: rgb(225, 225, 225);
  display: flex;
  align-items: center;
}

.board-title ul {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  /* margin-left: 3rem; */
  /* margin-right: 3rem; */
  width: 100%;
}

.board-title li:first-child {
  flex: 0 0 70%;
}

.board-content {
  width: 100%;
  min-height: 20rem;
  background-color: rgb(225, 225, 225);
  font-size: 1.2rem;
}
.board-title li:nth-child(2),
.board-title li:nth-child(3) {
  margin-left: auto;
}

/* comment-write */
.comment-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5rem;
}

.comment-form input[type="text"]:nth-child(1) {
  height: 80%;
  flex: 2; /* 작성자 입력창은 2의 비율로 설정 */
  margin-right: 10px;
  min-width: 100px;
}

.comment-form input[type="text"]:nth-child(2) {
  height: 80%;
  flex: 7; /* 댓글내용 입력창은 7의 비율로 설정 */
  margin-right: 10px;
  min-width: 100px;
}

.comment-form button {
  height: 80%;
  flex: 1; /* 버튼은 1의 비율로 설정 */
}

/* comment-list */
.comment-list {
}
.comment-entity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #e7e7e7; /* 두께, 스타일, 색상 */
}
.comment-list div:nth-child(1) {
  flex: 2;
}
.comment-list div:nth-child(2) {
  flex: 6;
}
.comment-list div:nth-child(3) {
  flex: 1;
}
.comment-list div:nth-child(4) {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.comment-list div:nth-child(5) {
  flex: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
}
